body {
  padding: 0px;
  margin: 0px;

  min-width: 400px;
  background-color: white;
  font-family: arial, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*-HEADER------------------------------------------*/

header {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
}

header ul li {
  display: inline;
  vertical-align: middle;
  margin-right: 15px;
}

header ul li a {
  text-decoration: none;
  color: #35383b;
}

header ul li a:hover {
  text-decoration: underline;
}

.dots_container {
  padding-bottom: 8px;
  padding-top: 16px;
  padding-left: 11px;
  padding-right: 7px;
  border-radius: 50%;
}

.dots_container:hover {
  background-color: #f1f1f2;
}

.dots {
  width: 17px;
}

.profilepicture {
  width: 32px;
  border-radius: 50%;
}
.profilepicture:hover {
  outline: #f1f1f2 solid 3px;
}

/*-FIN HEADER------------------------------------------*/

/*-CONTENT------------------------------------------*/

.content {
  flex: 1;
}

/*-LOGO------------------------------------------*/
.logo {
  margin-top: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 500px;
  width: 100%;
}
/*-FIN LOGO------------------------------------------*/

/*-SEARCH BAR------------------------------------------*/
.searchbar {
  display: flex;
  justify-content: center;

  margin-right: 10px;
  display: flex;
  max-width: 582px;

  height: 45px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}

.bar {
  width: 100%;
  font-size: 16px;
  border: none;
}

.bar:focus-within {
  outline: none;
}

.searchbar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search_icon {
  padding-left: 16px;
  padding-right: 12px;
  padding-top: 15px;
  height: 14px;
}

.googlemic {
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 20px;
  height: 20px;
}

/*-FIN SEARCH BAR------------------------------------------*/

/*-SEARCH BOUTONS------------------------------------------*/
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #f7f8f9;
  border: none;
  color: #35383b;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}
.button:hover {
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color: #202124;
  box-shadow: 0px 2px 2px #ececec;
}

.button:focus {
  border: 1px solid #4885ed;
  padding: 9px 19px;
}

/*-FIN SEARCH BOUTONS------------------------------------------*/

/*-LANGUE------------------------------------------*/
.language {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.language a {
  color: #1a0dab;
  text-decoration: none;
}

.language a:hover {
  text-decoration: underline;
}
/*-FIN LANGUE------------------------------------------*/

/*-FIN CONTENT------------------------------------------*/

/*-FOOTER------------------------------------------*/

.country {
  padding-right: 30px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  padding-left: 30px;
}

footer {
  background-color: #f0f0f0;
  flex-shrink: 0;
}

footer ul li {
  font-size: 15px;
  display: inline;
  margin-right: 15px;
  text-wrap: none;
}

footer a {
  text-decoration: none;
  color: #70757a;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

.ul1 {
  float: right;
  display: inline-block;
}

.ul2 {
  float: left;
  display: inline-block;
}

@media screen and (max-width: 1022px) {
  .ul1 {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ul2 {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*-FIN FOOTER------------------------------------------*/

/*Demian Wicky pour THP, le 22 sept. 2020, Semaine 1 Jour2*/
